.articuloVenta
{
    height: 10vh;
    width: 10vh;
    justify-content: center;
}
.box-contador
{
    height: 28vh;
    width: 40vh;
    margin: 15px;
}
.bloque
{   
    margin-block: 25px;
    height: 34%;
    width: 90%;
    display: flex;
    align-items: center;
    border-style: solid;
    background: #efefef;
}
.botones-contador
{
    height: 100%;
    width: 20%;
}
.bloque button
{
    height: 30px;
    width: 30px;
}
.bloque input
{
    text-align: -webkit-match-parent;
    height: 58%;
    width: 50%;
    border-style: none;
    background: transparent;
    border-bottom: 1.5px solid black;
    font-size: 20px;
}
.botones-contador-valor button:hover{
    transform: scale(1.1,1.1);
    transition: all 3s;
}
.botones-contador-valor
{
    width: 50%;
}
.botones-contador-valor button{
    border-color: #084659;
    border-radius: 50%;
    font-size: 20px;
    -webkit-text-stroke: thick;
    cursor: pointer;
    border: style 0.2em solid;
}
.botonGenerico{
    padding: 16px 66px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    background: #084659;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}